*.csv
*.pyc
.env
!secrets/.env
venv
.vagrant
secrets_
.vault_pass.txt
.DS_Store
*.dump
node_modules
.idea
bundle.js
bundle.min.js
raw_readings_logs_original
style-bundle.css
npm-debug.log
id_rsa
latest.dump
latest.dump.list.txt
data/raw_readings_logs
data/raw_readings_logs_original
data/prod_syncs
aws/recompute/data
verify.png
tmp_split_metrics.csv
many_recompute_status.json
